body {
    font-family: Oxygen;
    background-image: url('./images/indexbg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100vw;
    max-width: 100vw;
}

.navbar {
    padding: 15px;
}

.navbar-brand,
.nav-link {
    color: #fff;
    height: 70px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: #fff 0 0 15px;
}
.navbar-brand:hover {
    color: white;
    cursor: default;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
    text-shadow: black 0 0 20px;
}