:root {
    --neutral: #7F7979;
    --light: #5F5B6B;
    --lighter: #C1BDB3;
    --dark: #3D3B3C;
    --darker: #323031;
    --white: #fff;
    --font40: 40px;
    --font25: 25px;
    --font20: 20px;
    --pad20: 20px;
    --mar20: 20px;
    --bor20: 20px;
    --mar30: 30px;
    --icon60: 60px;
    --mar40: 40px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal
}

body {
    display: flex;
    background-color: var(--lighter);
    margin: 0;
    flex-direction: column;
    width: 100%;
}

header {
    color: var(--white);
    padding: var(--pad20);
    background-color: var(--dark);
    justify-content: space-between;
    border-bottom: solid;
}

header a,
footer a {
    color: var(--white);
    list-style-type: none;
    text-decoration: none;
}

header nav {
    display: flex;
    font-size: 2vw;
    justify-content: flex-end;
    align-items: end;
}

header div {
    margin: 0 var(--mar20);
}

h1 {
    display: flex;
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

main {
    display: flex;
}

aside {
    background-color: var(--neutral);
    max-width: 30vw;
    min-width: 30vw;
    min-height: 100vw;
    border-width: 20px 10px 20px 20px;
    border-style: solid;
    border-color: var(--darker);
}


section {
    width: 70vw;
    border-width: 20px 20px 20px 10px;
    border-style: solid;
    border-color: var(--darker);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: var(--font25);
    margin: var(--mar30);
}

h4 {
    display: flex;
    justify-content: center;
    font-size: var(--font25);
    margin: 30px;
    padding: 5px;
    border: outset 10px var(--darker);
    color: var(--white);
    background-color: var(--darker);
}

footer {
    display: flex;
    background-color: var(--dark);
    justify-content: space-around;
    border-top: solid var(--white);
}

footer div {
    margin: 2vw 5vw;
}

footer nav {
    display: flex;
}

section div {
    display: flex;
    justify-content: center;
}

a img {
    height: 5vw;
    max-height: 100px;
}

.my-img {
    background-image: url("../assets/images/headshot.png");
    height: 25vw;
    width: 25vw;
    background-size: cover;
    background-color: var(--dark);
    border-style: solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.story {
    display: block;
    margin: 6%;
}

.section {
    color: var(--white);
}

/* temporary until future projects */
.image-placeholder {
    background-color: black;
    height: 25vw;
    width: 25vw;
}

#project1 {
 
}


#refactor-img {
    background-image: url("../assets/images/refactor.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    min-height: 33vw;
}

a:hover {
    color: aqua;
}

/* @media screen and (max-width: 780px) {
    
} */