:root {
    --neutral: #7F7979;
    --light: #5F5B6B;
    --lighter: #C1BDB3;
    --dark: #3D3B3C;
    --darker: #323031;
}

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: var(--neutral);
}
header a {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--lighter);
}

h1 {
    font-size: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}